In [ ]:
products = [
    {"name": "Laptop", "price": 1200, "quantity": 5},
    {"name": "Mouse", "price": 25, "quantity": 50},
    {"name": "Keyboard", "price": 75, "quantity": 10},
    {"name": "Monitor", "price": 300, "quantity": 8}
]

In [ ]:
products

In [ ]:
minimum = max(products , key=lambda product: product['price'])

print(minimum)

Add a new key-value pair, "in_stock": True, to each product dictionary in the list.

In [ ]:
mList = [63, 21, 30, 14, 35, 26, 77, 18, 49, 10]

In [ ]:
first, *x, last = mList
print(first) #63
print(last) #10

1.	Load a CSV file and display the top 5 rows.
2.	Show how many missing values are in each column.
3.	Create a new column that is the square of an existing column.
4.	Filter the DataFrame to include only rows where salary > 50,000.
5.	Show all unique values in the department column.

In [ ]:
import pandas as pd

df = pd.read_csv('file')
df.head(5)

In [ ]:
df.isnull().sum()

In [ ]:
df['Squared'] = df['num'] ** 2

In [ ]:
high_salary = df[df['salary']>50000]

In [ ]:
df['Department'].unique()

6.	Group the data by department and calculate the average salary.
7.	Find the top 3 highest paid employees in each department.
8.	Remove all rows where age is missing.
9.	Convert a date_of_joining column to datetime and extract year/month.
10.	Merge two DataFrames: employees and departments on dept_id.

In [ ]:
avg_salary = df.groupby['Department']('Salary').mean().reset_index().round(2)

In [ ]:
high_pay = df.groupby['Department']('Salary').mean().reset_index().round(2).sort_values(ascending = False)

In [ ]:
df.merge(df)