# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

-----------------------------------------------------------------------------

#### ANSWERS

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
tpl = tuple(range(1,11))
print(tpl)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [12]:
tpl1 = tpl[0]
print(tpl1)
tlast = tpl[-1]
print(tlast)
tm = tpl[len(tpl)// 2]
print(tm)

1
10
6

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [17]:
matrix = ((1,2,3),
          (4,5,6),
          (7,8,9))

for x in matrix:
    print(matrix[1][2])

6
6
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [ ]:
tpl = (11,2,3,2,1,1,1,2,4,5,6,4,2)

count = tpl.count(1)
index = tpl.index(1)
print(count)
print(index)

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
tpl = (1,2,3,4,5)
a,b,c,d,e = tpl
print(a,b,c,d,e)

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
lst = list(range(1,6))

tpl = tuple(lst)

print(tpl)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [ ]:
tpl = ((1,2,3),(4,5,6),(7,8,9))

print(tpl)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [ ]:
tpl = tuple(range(1,6))

lst = list(tpl)

lst.append(6)

print(tuple(lst))

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [ ]:
string = 'Hello'

tpl = tuple(string)

joined = ''.join(tpl)

print(joined)

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [ ]:
tpl = {(1,2):(2,9),(3,4):(4,16),(5,25):(26,30)}

print(tpl)

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [ ]:
tp1 = ((1,2),(3,4),(5,6))

for i in tp1:
    for j in i:
        print(j)

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [ ]:
dup = (1,2,3,2,1,1,1,2,4,5,6,4,2)

sets = set(dup)

print(sets)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [ ]:
def max_min_sum():
    return min(tpl),max(tpl),sum(tpl)

tpl = (1,2,3,4,5,6)

max_min_sum()